google-play-scraper==1.2.7
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
gensim==4.3.3
nltk==3.9.1
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
imbalanced-learn==0.12.4
jupyter==1.1.1
ipykernel==6.29.5
